[user]
  email = root@localhost
  name = Dave
[alias]
  a = add --all
  #############
  c = commit
  ca = commit -a
  cm = commit -m
  #############
  d = diff
  #############
  ps = push
  #############
  pl = pull
  #############
  s = status
  #############
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  #############
  url = remote show origin
[push]
  default = simple
